body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #6200ea;
  color: white;
  padding: 2em 0;
}

main {
  margin: 2em;
}

button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #3700b3;
}

footer {
  margin-top: 2em;
  padding: 1em 0;
  background-color: #333;
  color: white;
}
